### Variables
* A variable is a container that **temporarily** stores data during the execution of a program
* The value stored in a variable can change during the program's execution, which is why it is called a "**variable.**"
### Rules for writing a variable name

*  Start with a Letter or Underscore:
*  Variable names cannot begin with a digit.
*  Variable names can only contain letters, numbers, and underscores
*  Variable names are case-sensitive.
*  Do not use Python’s reserved keywords
*  Use meaningful and descriptive names .

**Examples** :
 ``
  username, _firstname
  user_name
  age1
  FirstName and firstname (both are different)
 ``

### Variable Names Convention :


1.   **Snake Case :**  All letters are in lowercase, and words are separated by underscores.
Example : ` user_name, first_name.`
2.   **Pascal Case :** The first letter of each word is capitalized, and there are no separators.
Example : `UserName, FirstName.`
3.   **Camel Case :** The first word is in lowercase, and the first letter of each subsequent word is capitalized.
Examples : ` userName, firstName`

##  Initializing Variables :     
**Syntax** :    
               To create a variable, you need three things:


*   **Variable Name :** The name of the variable (e.g., fruit).
*   **Assignment Operator :**  The equal sign (=) is used to assign a value to the variable.
*   **Value :** The data you want to store in the variable (e.g., apple).

**Examples :**
`fav_food = 'Boryani'`
`a = 10`

In [ ]:
fav_food : str = 'Pasta'
grocery_item : str = 'Macroni'
electicity_bill : int = 12000

# Data Types in Python

Let's understand and learn the data types in python :    

**Common Data Types in Python**





*   str    ('Hello')

*   int  (999)

*   float (99.9)

*   bool  (True,False)

*   list  [1,2,3,4]

*   tuple (1,2,3)

*   set  {1, 2, 3}

*   dict  	{"name": "Mahi"}

*  NoneType None

# String :
*           Sequence of data enclosed in quotes
*           Strings are mutuable (created once , not changed )

In [ ]:
# To understand data types , we will learn data types using examples


name = "Mahi"


# Type and length are built-in-functions
# Type  Function
print(type(name)) # str

# length function

print(len(name))  # length function is only applicable to strings

<class 'str'>
4

# String Concatenation

In [ ]:
name : str = "Mahi"
age : int = 17
student_class  : int = 11
email : str = 'maheerarehman1@gmail.com'


#                           Ways of Concatenation

# Method 1

# By this we only concatatenate to same data types
personal_id : str = name +  ""  + email
employee_info : str = name + str(age)
education_life : int = age + student_class

print(personal_id)
print(employee_info)
print(education_life)


# Method 2

# F-string

print('My name : ' + name)
print('My age : ' , age)

print(f'My name : ' + name)
print(f'My age : ' , age)

# The best way to do it is :

print(f'My name is {name} , Age is {age} , email {email}')

Mahimaheerarehman1@gmail.com
Mahi17
28
My name : Mahi
My age :  17
My name : Mahi
My age :  17
My name is Mahi , Age is 17 , email maheerarehman1@gmail.com

# Doc-String (Documentation String , Multi-Line String)


*   Start by using **triple** double quotes or **triple** single quotes.
*   Syntax :
```
 ''''''
 """"""
```

In [ ]:
#  This gives an error

# sentence : str = 'Hello Everyonne . My name is Maheera
# I am a software Developer . I am a student learning and practicing Python'


# Using DOC string (which is presentable)

personal_info : str = '''
My name is Maheera .
I am a software Developer .
I am learning and practicing Python
'''

print(personal_info)

My name is Maheera .
I am a software Developer .
I am learning and practicing Python

# Number

In [ ]:
tax : int = 12
price : float = 99.9

print(tax)
print(type(tax))

print(price)
print(type(price))
print(len(price))     # length function is only applicable to string

12
<class 'int'>
99.9
<class 'float'>

TypeError: object of type 'float' has no len()

# Boolean

#### Booleans represent one of two values: True or False.
#### The **bool()** function allows you to evaluate any value, and give you True or False in return,

## Boolean in Expressions :



*   Almost any value is evaluated to True if it has some sort of **content**.

*   Any string is True, except **empty strings**.

*   Any number is True, except **0**.

*   Any list, tuple, set, and dictionary are True, except **empty ones**.


### For Example :        

```
x = None
print(bool(x))

# Returns False as x is an empty sequence
x = ()
print(bool(x))

# Returns False as x is an empty mapping
x = {}
print(bool(x))

# Returns False as x is 0
y = 0.0
print(bool(x))

# Returns True as y is a non empty string
y = 'Mahi'
print(bool(x))

# Returns True bcz it have some sort of content

y = bool("abc")

# Returns True as x is a non empty string

y = bool(123)

# Returns True as x is a non empty string
y = bool(["apple", "cherry", "banana"])

# Returns True as x is a non empty string
```
* In boolean True as 1 or False as 0
* Write True, False in capital letters
**Python evaluates Boolean expressions from left to right**

# Use :     

* Typically used in condition , loops or logical evaluation

In [ ]:
# Examples

is_logged_in : bool = True
are_road_closed : bool = False
is_internet_closed : bool = True

print(is_logged_in)
print(are_road_closed)
print(type(is_internet_closed))

# 📝 Input
---

### 🔹 What is User Input?

In Python, you can ask the user to enter data using the **`input()`** function. This makes your program interactive.

> 📌 Syntax: `input("Prompt message")`  
> 📌 The input is always returned as a **string**.

In [4]:
# practice

name = input("Enter your name: ")
print(f'Hello : {name}')

Enter your name: m
Hello : m

---

### 🔹 Converting Input to Numbers

By default, `input()` gives you a string. If you want to work with numbers, convert it using:

- `int()` → to get an integer
- `float()` → to get a decimal number

In [5]:
# Practice

age = int(input("Enter your age: "))
height = float(input("Enter your height in meters: "))

print(f"You are {age} years old and, height {height} meters tall.")

Enter your age: 16
Enter your height in meters: 8.6
You are 16 years old and, height 8.6 meters tall.

---

### 🔹 Example: Simple Calculator

Let’s create a simple calculator that adds two numbers entered by the user.

In [3]:
# Simple project

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Addition
addition = num1 + num2
# Subtrction
subtraction = num1 - num2
# Multiplication
multiplication = num1 * num2
# Division
division = num1 / num2


print(f'Addition : {addition}')
print(f'Subtraction : {subtraction}')
print(f'Multiplication : {multiplication}')
print(f'Division : {division}')

Enter first number: 12
Enter second number: 2
Addition : 14.0
Subtraction : 10.0
Multiplication : 24.0
Division : 6.0